/* 2.1 Target an element and change its color */
header {
    color: #A62349;
}

body {
    background-color: #96E5D1;
}

h1 {
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Roboto Mono', monospace;
}

.class-1 {
    color: #C55300;
}
/* 2.2 Pick a heading and change font size, make it bold and underline */

/* 2.3 Google font for list */

/* 2.4 Box model */

/* 2.7 Read requirements in html file */

/* 2.5 Flex box */
